* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-heading: 'Staatliches', cursive;
  --ff-texting: 'Palanquin', sans-serif;

  --fs-heading: 2rem;

  --bg-primary: #EFF1FF;
  --bg-heading: #8E9AAF;
  --bg-heading-text: #CBC0D3;
  --fc-heading: #FFFFFF;
  --fc-texting: #23053A;
}

body {
  background: var(--bg-primary);
}

header {
  background: var(--bg-heading);
  height: 27.9rem;
  display: flex;
  flex-direction: column;
}

header img {
  height: 13.7rem;
  margin: 3.2rem 4.2rem;
}

header h1 {
  width: 100%;
  height: 4.9rem;
  color: var(--fc-heading);
  background: var(--bg-heading-text);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-heading);
  font-size: var(--fs-heading);
  letter-spacing: 2px;
  text-shadow: rgb(87, 87, 87) 0.05em 0.1em 0.2em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main p {
  width: 28rem;
  margin-top: 1.8rem;
  margin-bottom: 6rem;
  text-align: center;
  font-size: 1.8rem;
  font-family: var(--ff-texting);
  line-height: 2rem;
  color: var(--fc-texting);
}

main > div {
  margin-bottom: 3.2rem;
}

main div:nth-child(5) {
  margin-bottom: 6rem;
}

.card {
  position: relative;
  margin-bottom: 3.2rem;
}

.card h2 {
  font-family: var(--ff-heading);
  border-radius: 2rem;
  background-color: #FEEAFA;
  font-size: 2rem;
  color: #4A4E69;
  padding: 0 1.6rem;
  width: fit-content;
  height: 3.8rem;
  display: inline-flex;
  align-items: center;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  animation: topdown 700ms 600ms backwards;
}

.card img {
  animation: downtop 700ms 350ms backwards;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}